@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.name {
  font-size: 2rem;
}

.location,
.company {
  font-weight: bolder;
  font-style: italic;
}

.phone,
.email {
  margin-left: 0.3rem;
}

.seperate {
  font-size: 1rem;
}

.year,
.main {
  font-size: 0.9rem;
}

.location,
.company {
  font-size: 0.82rem;
}

.degree,
.discipling,
.role {
  font-weight: bolder;
}

.notes {
  font-size: 0.8rem;
}
